@use 'sass:map';
@import 'src/common/selectors';
@import 'src/common/variable';

.container {
  position: relative;
  
  @media screen and (max-width: 1023px) {
    flex-basis: 25%;
  }
}

.button {
  margin: 0 0 20px auto;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    margin-bottom: 0;
  }
}

.dropdown {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 60px;
  right: -50px;
  width: 250px;
  box-sizing: border-box;
  padding: 20px 30px 20px 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);

  @media screen and (max-width: 1200px) {
    right: 0;
  }

  @media screen and (max-width: 1023px) {
    top: 55px;
    width: 252px;
  }
}

.item {
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > button {
    flex-shrink: 0;
  }

  &:first-of-type {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -3px;
        right: 13px;
        bottom: 0;
        left: -24px;
        background-color: map.get($background_color, partsSecondary);
        z-index: 1;
        transform: matrix3d(
          -1,
          0,
          1,
          0.003,
          0,
          1,
          0,
          0,
          0,
          0,
          1,
          0,
          0,
          0,
          0,
          1
        );
      }
    }

    & > .text {
      color: map.get($text_color, primary);

      @media screen and (max-width: 1023px) {
        color: map.get($text_color, additional);
        @include text(12px, 400, 14px);
      }
    }

    & > * {
      z-index: 2;
    }
  }

  &:last-of-type {
    border-top: 1px solid #e0e0e0;
    padding-bottom: 0;
  }
}

.mobileHide {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.mobileVisible {
  display: none;

  @media screen and (max-width: 1023px) {
    display: block;
  }
}

.text {
  display: inline-block;
  padding-right: 7px;
  text-align: right;
  
}

.exit {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
