@use 'sass:map';
@import '../../common/variable';

.popup {
  box-sizing: border-box;
  padding: 20px 20px 20px 30px;
  background-color: map.get($background_color, popup);
  position: relative;
}

.shadow {
  box-shadow:
    0 0 4px map.get($background_color, popupShadow),
    0 4px 32px map.get($background_color, popupShadowSecondary);
}

.width_type_small {
  width: 287px;
}

.width_type_middle {
  width: 370px;
}

.width_type_big {
  width: 586px;
}

@mixin arrow($place) {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid map.get($background_color, popup);
  position: absolute;
  right: $place;
  top: -9px;
}

.arrow_type_right::before {
  @include arrow(14px);
}

.arrow_type_center::before {
  @include arrow(14px);
  right: calc(50% - 10px);
}
