@use 'sass:map';
@import './src/scss/mixins/text';
@import 'src/common/variable';

.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 295px;
  height: 362px;
  border: none;

  .photoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-color: map.get($background_color, partsSecondary);
    margin-bottom: -30%;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border-top: #b8e4fa solid 0;
    border-bottom: #b8e4fa solid 2px;
    border-left: #b8e4fa solid 1px;
    border-right: #b8e4fa solid 1px;
    z-index: 1;
    .defaultPhoto {
      width: 75%;
      height: 75%;
    }
    .photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .infoBox {
    display: flex;
    justify-content: flex-start;
    padding-left: 3px;
    align-items: flex-end;
    position: relative;
    box-sizing: border-box;
    visibility: visible;
    height: 271px;
    width: 295px;
    @media (max-width: 720px) {
      width: 354px;
    }
  }
  .backgroundInfoBox {
    position: absolute;
    top: 0;
    left: 0;
  }
  .infoBlock {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 286px;
    height: 266px;
    background-color: map.get($background_color, primary);
    display: grid;
    grid-template-columns: 9% 6% 12% 13% 13% 10% 6% 10% 14% 7%;
    grid-template-rows: 31% 13% 8% 8% 10% 10% 21%;
    @media (max-width: 720px) {
      width: 345px;
    }

    .info {
      color: map.get($text_color, primary);
    }
    .name {
      grid-column: 2/10;
      grid-row: 2;
      @media (max-width: 720px) {
        padding-left: 25px;
      }
    }
    .infoId {
      color: rgba(46, 49, 146, 0.5);
    }
    .infoIdLabelPosition {
      grid-column: 2;
      grid-row: 3;
      @media (max-width: 720px) {
        padding-left: 25px;
      }
    }
    .infoIdLabelText {
      grid-column: 3/10;
      grid-row: 3;
      @media (max-width: 720px) {
        padding-left: 20px;
      }
    }
    .boldLabelPhone {
      grid-column: 2/3;
      grid-row: 4;
      @media (max-width: 720px) {
        padding-left: 26px;
      }
    }
    .textLabelPhone {
      grid-column: 4/10;
      grid-row: 4;
      @media (max-width: 720px) {
        padding-left: 17px;
      }
    }
    .boldLabelAddress {
      grid-column: 2/3;
      grid-row: 5;
      @media (max-width: 720px) {
        padding-left: 26px;
      }
    }
    .textLabelAddress {
      grid-column: 4/10;
      grid-row: 5/7;
      @media (max-width: 720px) {
        padding-left: 17px;
      }
    }
    .ballsIcon {
      grid-column: 4;
      grid-row: 7;
      @media (max-width: 720px) {
        padding-left: 16px;
      }
    }
    .ballsSum {
      margin-top: 3px;
      grid-column: 5;
      grid-row: 7;
      @media (max-width: 720px) {
        padding-left: 8px;
      }
    }
    .keyIcon {
      grid-column: 6;
      grid-row: 7;
    }
    .keySum {
      margin-top: 3px;
      grid-column: 7;
      grid-row: 7;
      @media (max-width: 720px) {
        grid-column: 6;
        margin-left: 30px;
      }
    }
    .finishIcon {
      grid-column: 8;
      grid-row: 7;
      @media (max-width: 720px) {
        grid-column: 7;
        margin-left: 11px;
      }
    }
    .finishSum {
      margin-top: 3px;
      grid-column: 9;
      grid-row: 7;
      @media (max-width: 720px) {
        grid-column: 8;
        margin-left: 17px;
      }
    }
    .signUp {
      width: 196px;
      height: 35px;
      margin-top: 2px;
      margin-left: 3px;
      grid-column: 3/10;
      grid-row: 3;
      @media (max-width: 720px) {
        margin-left: 23px;
      }
    }
    .comeIn {
      width: 196px;
      height: 35px;
      padding-left: 74px;
      text-align: inherit;
      margin-left: 3px;
      grid-column: 3/10;
      grid-row: 5;
      @media (max-width: 720px) {
        margin-left: 23px;
      }
    }
    .recipientIcon {
      margin-top: 7px;
      margin-left: 22px;
      align-self: center;
      grid-column: 9;
      grid-row: 7;
      @media (max-width: 720px) {
        margin-left: 35px;
      }
    }
    .sumText {
      align-self: center;
      justify-self: end;
      margin-top: 6px;
      margin-right: 24px;
      grid-column: 7/10;
      grid-row: 7;
      color: map.get($text_color, primary);
      @media (max-width: 720px) {
        margin-right: 19px;
      }
    }
  }
}
@media (max-width: 720px) {
  .container {
    width: 354px;
    justify-content: space-between;
  }
}
