// миксин для внедрения шрифтов
@mixin font($name, $weightText, $weightNumber) {
  @font-face {
    font-family: $name;
    src: url(../../vendor/fonts/#{$name}-#{$weightText}.woff2) format('woff2'),
      url(../../vendor/fonts/#{$name}-#{$weightText}.ttf) format('truetype');
    font-style: normal;
    font-weight: $weightNumber;
  }
}
