@import "./src/scss/mixins/text";
$colorWhite: #FBFDFF;
$colorBlue: #2E3192;
$colorSea: #0071BC;
$colorSilver: #818C99;

.button {
  @include text(12px, 400, 14.4px);
  box-sizing: border-box;
  padding: 8px 16px;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: linear, 0.2s;
}

.text{
  @include text(16px, 400, 19.2px);
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 3;
  color: $colorWhite;
}

.block {
  border-radius: 0;
  box-sizing: border-box;
  border: $colorBlue solid 1px;
  background-color: $colorWhite;
  .text {
    color: $colorBlue;
  }

    &:hover {
      background-color: $colorSea;

      .text {
        color: $colorWhite;
      }
    }

    &:disabled {
      border: #9798C9 solid 1px;
      cursor: auto;
      background-color: $colorWhite;

      .text {
        color: #9798C9;
      }
    }
}

.apply {
  border-radius: 0;
  border: none;
  background-color: $colorBlue;
  color: $colorWhite;

    &:hover {
      background-color: $colorSea;
    }

    &:disabled {
      background-color: $colorSilver;
      cursor: auto;
    }
}

.search {
  padding: 0 0;
  width: 170px;
  height: 33px;
  position: relative;
  border-radius: 0;
  border: red;
  background-color: $colorWhite;
  overflow: hidden;
  cursor: auto;

  .text {
    position: relative;
    color: $colorWhite;
    z-index: 2;
  }
  .over {
    position: absolute;
    padding: 11px 0 8px;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100px;
    height: 14px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;

      .svg {
        position: absolute;
        top: 10px;
        left: 5px;
        width: 31px;
        height: 14px;
        z-index: 2;
      }

      .text {
        position: absolute;
        top: 8px;
        left: 43px;
        color: $colorWhite;
        z-index: 2;
      }

      &:hover .rectangle {
        background-color: $colorSea;
      }

    .rectangle {
      z-index: 1;
      position: absolute;
      top: 5px;
      left: -13px;
      width: 171px;
      height: 33px;
      background-color: $colorBlue;
      transform: skew(-26deg, 3deg);
      cursor: pointer;
    }
  }

  &:disabled .text {
    cursor: auto;
  }

  &:disabled .over:hover {
    cursor: auto;
  }

  &:disabled .rectangle {
    background-color: $colorSilver;
  }

  &:disabled .over:hover .rectangle {
    background-color: $colorSilver;
    cursor: auto;
  }
}

.circleSmallPhone {
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $colorBlue;
  border: 1px solid $colorSilver;

  .image {
    margin: 0 auto;
    width: 18px;
    height: 18px;
  }

  &:hover {
    background-color: $colorSea;
  }

  &:active {
    background-color: $colorBlue;
  }

  &:disabled {
    background-color: $colorSilver;
    cursor: auto;
  }
}

.circleSmallEmail {
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $colorBlue;
  border: 1px solid $colorSilver;

  .image {
    margin: 0 auto;
    width: 18px;
    height: 18px;
  }

  &:hover {
    background-color: $colorSea;
  }

  &:active {
    background-color: $colorBlue;
  }

  &:disabled {
    background-color: $colorSilver;
    cursor: auto;
  }
}

.circleLocation {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: $colorBlue;
  border: none;

  .image {
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: $colorSea;
  }

  &:disabled {
    background-color: $colorSilver;
    cursor: auto;
  }
}

.circleBigCross {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: $colorBlue;
  border: none;

  .crossFirst {
    position: absolute;
    top: 7px;
    left: 39px;
    width: 3px;
    height: 66px;
    background-color: $colorWhite;
    border-radius: 3px;
  }

  .crossSecond {
    position: absolute;
    top: 39px;
    left: 7px;
    width: 66px;
    height: 3px;
    background-color: $colorWhite;
    border-radius: 3px;
  }

  &:hover {
    background-color: $colorSea;
  }

  &:disabled {
    background-color: $colorSilver;
    cursor: auto;
  }
}

.quadrilateralExit {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0, .0);
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: none;
  cursor: auto;

  .quadrilateral {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -7px;
    margin-left: 1px;
    width: 32px;
    height: 32px;
    background-color: #9798C9;
    transform: skew(3deg, -10deg);
    cursor: pointer;

    &:hover {
      background-color: $colorBlue;
      transition: linear, 0.2s;
    }

    &:active {
      background-color: #9798C9;
    }
  }

  .image {
    margin-top: 8px;
    transform: skew(-3deg, 10deg);
  }
}

.quadrilateralEdit {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0, .0);
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: none;
  cursor: auto;

  &:disabled .quadrilateral {
    background-color: $colorSilver;
    cursor: auto;
  }

  &:disabled .quadrilateral:hover {
    background-color: $colorSilver;
    cursor: auto;
  }
  .quadrilateral {
    display: flex;
    position: relative;
    margin-top: 7px;
    margin-left: 1px;
    width: 32px;
    height: 32px;
    background-color: $colorSea;
    transform: skew(-3deg, 10deg);
    cursor: pointer;

    &:hover {
      background-color: #00A99D;
      transition: linear, 0.2s;
    }

    &:active {
      background-color: $colorSea;
    }
  }

  .image {
    overflow: hidden;
    margin-top: -4px;
    transform: skew(3deg, -10deg);
  }
}

.quadrilateralConfirm {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0, .0);
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: none;
  cursor: auto;

  &:disabled .quadrilateral {
    background-color: $colorSilver;
    cursor: auto;
  }

  &:disabled .quadrilateral:hover {
    background-color: $colorSilver;
    cursor: auto;
  }
  .quadrilateral {
    display: flex;
    position: relative;
    margin-top: -7px;
    margin-left: -1px;
    width: 32px;
    height: 32px;
    background-color: #00A99D;
    transform: skew(-3deg, 10deg);
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background-color: #009245;
      transition: linear, 0.2s;
    }

    &:active {
      background-color: $colorSea;
    }
  }

  .image {
    margin-top: -1px;
    margin-left: 5px;
    width: 32px;
    transform: skew(0deg, -10deg);
  }
}

.quadrilateralSetting {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0, .0);
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: none;
  cursor: auto;

  .quadrilateral {
    display: flex;
    position: relative;
    margin-top: 7px;
    margin-left: 1px;
    width: 32px;
    height: 32px;
    background-color: $colorBlue;
    transform: skew(-3deg, -10deg);
    cursor: pointer;

      .image {
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin-top: 5px;
        margin-left: -5px;
        transform: skew(3deg, 10deg);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.0);
        transition: linear, 0.3s;
      }

      &:hover .image{
        margin-top: -1px;
        margin-left: 0;
      }
  }
}

.quadrilateralExcel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0, .0);
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: none;
  cursor: auto;

  .quadrilateral {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 7px;
    margin-left: 1px;
    width: 32px;
    height: 32px;
    background-color: $colorBlue;
    transform: skew(-3deg, 10deg);
    cursor: pointer;

    &:hover {
      background-color: #00A99D;
      transition: linear, 0.2s;
    }
  }

  .image {
    overflow: hidden;
    margin-top: 2px;
    transform: skew(3deg, -10deg);
  }
}

.bigCard {
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  width: 275px;
  height: 113px;
  position: relative;
  border-radius: 0;
  border: red;
  background-color: $colorBlue;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: $colorSea;
  }

    .text {
      display: inline-block;
      margin-left: 8px;
      text-justify-trim: center;
      text-align: left;
      align-content: flex-start;
      width: 120px;
      position: relative;
      color: $colorWhite;
      z-index: 2;
    }

    .svg {
      position: relative;
      margin-top: -10px;
      width: 48px;
      height: 48px;
      z-index: 2;
    }
}
