// basic button and all its variables
@mixin button() {
	display: flex;
    align-items: center;
    font-family: "Golos";
    font-style: normal;
	width: $width;
	height: $height;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    padding: $padding;
	border-radius: $border-radius;
	font-size: $font-size;
	color: $font-color;
    background-image: url($imgpath);
}

.btn {
	@include button;
}

// buttons by class
.btn--call {
	@include button($width: 32px, $height: 32px, $border-radius: 50%);
}

.btn--message {
	@include button($width: 32px, $height: 32px, $border-radius: 50%);
}

.btn--locate {
	@include button($width: 53px, $height: 53px, $border-radius: 50%);
}

.btn--close {
	@include button($width: 32px, $height: 32.5px, $imgpath: '../../images/closeback.svg' );
}

.btn--edit{
	@include button($width: 32, $height: 32.5, $imgpath: '../../images/editback.svg' );
}

.btn--check{
	@include button($width: 32, $height: 32.12px, $imgpath: '../../images/checkback.svg' );
}

.btn--search{
	@include button($width: 169px, $height: 33px, $font-size: 16px, $line-height: 19px, $font-weight: 400, $imgpath: '../../images/searchback.svg' );
}

.btn--apply{
	@include button($width: 104px, $height: 30px, $font-size: 12px, $line-height: 14px, $font-weight: 400, $font-color: $common);
}

.btn--block{
	@include button($width: 123px, $height: 30px, $font-size: 12px, $line-height: 14px, $font-weight: 400, $font-color: $primary);
}

.btn--add{
	@include button($width: 82px, $height: 82px, $border-radius: 50%);
}

.btn--card{
	@include button($width: 275px, $height: 113px, $font-size: 16px, $line-height: 19px, $font-weight: 400, );
}

// button icon if present
.btn--image{
	display: block;
	background-color: transparent;
}