@import '../../common/_variable';
@import '../../common/_selectors';

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.label {
  width: 464px;
  height: 18px;
  color: map-get($text_color, common);
  margin-bottom: 4px;
}

.labelShort {
  width: 351px;
}

.select {
  width: 464px;
  height: 44px;
  padding: 12px;
  box-sizing: border-box;
  background: map-get($background_color, 'popup');
  border: 1px solid map-get($background_color, 'partsSecondary');
  @extend .text-small;
  line-height: 20px;
  letter-spacing: -0.32px;
  appearance: none;
  background-image: url('../../stories/assets/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 14px, 7px;
  outline: none;
  color: map-get($text_color, 'ancillary');
  @media screen and (max-width: 768px) {
    width: 271px;
  }
}

.selectShort {
  width: 351px;
  border-radius: 10px;
  border-color: map-get($background_color, partsAdditional);
  @extend .text-medium;
}

.selectWithValue {
  color: map-get($text_color, primary);
}

.option {
  color: map-get($text_color, primary);
}
