// @use 'sass:map';
@import 'src/common/selectors';
@import 'src/common/variable';

.adminCard {
  // background: red;
  width: 267px;
  margin: auto;
  position: relative;
}

.adminPhoto {
  border: solid green 2px;
  height: 62px;
  width: 62px;
  background-image: url('./user_avatar_placeholder.png');
  background-size: contain;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  // z-index: 5;
}

.adminInfo {
  border: solid blue 2px;
}

.imageStyle {
  height: 100%;
  width: 100%;
}
