@import '../../common/_variable';

.form {
  width: 375px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: map-get($background_color, "primary");
  padding: 12px;
}

.label {
  width: 351px;
  height: 18px;
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: map-get($background_color, "partsPrimary");
  margin-bottom: 8px;
}

.input {
  width: 351px;
  height: 44px;
  padding: 12px;
  box-sizing: border-box;
  background: map-get($background_color, "primary");
  border: 1px solid map-get($background_color, "partsSecondary");
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: map-get($background_color, "partsPrimary");
}

.input:focus {
  border: 1px solid map-get($background_color, "partsActiveSecondary");
}

.select {
  width: 351px;
  height: 44px;
  padding: 12px;
  box-sizing: border-box;
  background: map-get($background_color, "primary");
  border: 1px solid map-get($background_color, "partsSecondary");
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  appearance: none;
  background-image: url('../assets/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 14px, 7px;
}

.optionEnabled {
  color: map-get($background_color, "partsPrimary");
}

.optionDisabled {
  color: map-get($text_color, "ancillary");
}

.commentForm {
  width: 375px;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: map-get($background_color, "primary");
  padding: 12px;
}

.commentLabel {
  width: 351px;
  height: 18px;
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.154px;
  color: map-get($text_color, "ancillary");
  margin-bottom: 8px;
}

.commentInput {
  width: 351px;
  height: 64px;
  padding: 12px;
  box-sizing: border-box;
  background: map-get($background_color, "primary");
  border: 1px solid map-get($background_color, "partsSecondary");
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: map-get($text_color, "common");
}

.formPhoneNumber {
  width: 375px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: map-get($background_color, "primary");
  padding: 12px;
}

.labelPhoneNumber {
  width: 351px;
  height: 18px;
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: map-get($background_color, "partsPrimary");
  margin-bottom: 8px;
}

.inputPhoneNumber {
  width: 351px;
  height: 44px;
  padding: 12px;
  box-sizing: border-box;
  background: map-get($background_color, "primary");
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: map-get($background_color, "partsPrimary");
}

.correctInput {
  border: 1px solid map-get($background_color, "partsSecondary");
}

.wrongInput {
  border: 0.5px solid #E64646;
}

.errorMessage {
  width: 351px;
  height: 16px;
  margin-top: 8px;
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #F37920;
}
