.form {
  width: 375px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: #FBFDFF;
  padding: 12px;
}

.label {
  width: 351px;
  height: 18px;
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #2E3192;
  margin-bottom: 8px;
}

.input {
  width: 351px;
  height: 44px;
  padding: 12px;
  box-sizing: border-box;
  background: #FBFDFF;
  border: 1px solid #9798C9;
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2E3192;
}
