@import '../../scss/mixins/fonts';
@import '../../common/media';

button {
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    &:hover {
      cursor: default;
    }
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 276px;
  height: 258px;
  border: 1px solid #0071bc;
  margin: 50px auto 0 auto;
}
.cardcontent {
  display: flex;
  flex-direction: column;
  width: 140px;
  justify-content: flex-start;
  margin-left: 30px;
}
.avatar {
  position: absolute;
  top: -31px;
  left: 0;
  right: 0;
  margin: auto;
  width: 62px;
  height: 62px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 31px;
  z-index: 50;
}
.name {
  width: 197px;
  height: 18px;
  font-family: 'GolosText';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  color: #000000;
  margin: 37px auto 2px auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.id {
  width: 197px;
  height: 11px;
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  margin-bottom: 7px;
}
.phone {
  display: flex;
  flex-direction: row;
  margin: 0 0 7px -3px;
  width: 160px;
}
.phonetext {
  width: 41px;
  height: 11px;
  right: 205px;
  bottom: 169px;
  display: flex;
  color: #000000;
  margin: 0 12px 0 0;
}
.phonenumber {
  width: 159px;
  height: 15px;
  display: flex;
  color: #000000;
  margin: 0;
}
.underlay {
  display: flex;
  flex-direction: row;
  width: 215.09px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 96px;
}
.backgreen {
  background-image: url('../../images/backgreen.svg');
}
.backorange {
  background-image: url('../../images/backorange.svg');
}
.backgrey {
  background-image: url('../../images/backgrey.svg');
}
.underlayitems {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 166px;
}
.underlayitem {
  max-width: 65px;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  &:first-child {
    margin-left: 30px;
  }
  &:last-child {
    p {
      margin-left: 4px;
    }
  }
}
.underlaynumber {
  height: 15px;
  display: flex;
  color: #2e3192;
  margin-bottom: 11px;
  margin-left: 2px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 40px;
}
.confirm {
  display: flex;
  padding: 0px 16px;
  width: 108px;
  height: 30px;
  background: #2e3192;
  color: #ffffff;
  border: none;
  &:disabled {
    background: #818c99;
  }
  span {
    font-family: 'GolosText';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
.halfconfirm {
  display: flex;
  padding: 0px 16px;
  width: 108px;
  height: 30px;
  background: linear-gradient(90deg, #ffffff 50%, #2e3192 50%);
  color: #ffffff;
  border: 1px solid #2e3192;
  span {
    margin-top: 7px;
    font-family: 'GolosText';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
.block {
  display: flex;
  padding: 0px 16px;
  width: 123px;
  height: 30px;
  border: 1px solid #2e3192;
  background-color: transparent;
  span {
    color: #2e3192;
    font-family: 'GolosText';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
.givekeys {
  display: flex;
  width: 100px;
  height: 30px;
  border: 1px solid #2e3192;
  background: transparent;
  padding: 0 !important;
  &:disabled {
    padding: 0 !important;
    border: 1px solid #9798c9;
    span {
      color: #9798c9;
    }
  }
  span {
    width: 99px;
    font-family: 'GolosText';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #2e3192;
  }
}
.label {
  width: 75.27px;
  height: 11.8px;
  position: absolute;
  top: 148px;
  left: 47px;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}
@include respond(small) {
  .card {
    width: 175px;
    height: 280px;
  }
  .avatarunderlay {
    width: 35px;
    height: 34px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 57px;
    top: 21px;
  }
  .cardcontent {
    margin-left: 14px;
  }
  .name {
    width: 147px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-top: 31px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .id {
    width: 197px;
    height: 11px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }
  .phone {
    width: 153px;
    margin-left: -2px;
  }
  .phonetext {
    width: 30px;
  }
  .phonenumber {
    width: 113px;
  }
  .underlay {
    top: 126px;
    background-image: none;
  }
  .underlayitems {
    gap: 5px;
  }
  .underlayitem {
    &:first-child {
      margin-left: 14px;
    }
  }
  .label {
    top: 172px;
    left: 31px;
  }
}
