@use 'sass:map';
@import '../../scss/mixins/text';
@import '../../common/media';
@import '../../common/variable';
@import '../../common/selectors';

.request {
  display: grid;
  grid-template-areas:
    'logo . user button'
    'postinfo desc user button';
  max-width: 889px;
  padding-bottom: 5px;
  border: 1px solid;
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-image-source: map.get($background_color, horizontalGradient);
  @media screen and (max-width: 768px) {
    grid-template-areas:
      'logo button'
      'user button'
      'desc desc'
      'postinfo postinfo';
    max-width: 365px;
    padding: 0;
    border: 1px solid rgba(184, 228, 250, 1);
  }
}

.logo {
  grid-area: logo;
  width: 169px;
  height: 25px;
  margin: 5px 0 0px 0;
  padding: 0;
  background-image: url('../../../images/back.svg');
  background-position: center;
  background-repeat: no-repeat;
  span {
    font-family: 'GolosText';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    margin-left: 15px;
    color: map.get($text_color, secondery);
  }
}

.postinfo {
  display: grid;
  grid-area: postinfo;
  grid-template-rows: 36px 29px 28px;
  grid-gap: 5px;
  max-width: 165px;
  margin-top: 10px;
  @media screen and (max-width: 768px) {
    grid-template-areas:
      'date time'
      'address address';
    margin-left: 5px;
    margin-top: 5px;
    max-width: 270px;
  }
}

.description {
  display: grid;
  grid-template-rows: auto;
  grid-area: desc;
  margin-top: 10px;
  @media screen and (max-width: 768px) {
    grid-template-rows: auto;
    margin-left: 10px;
    margin-top: 0;
    border: 1px solid;
    border-image-slice: 1;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image-source: map.get($background_color, horizontalGradient);
  }
}

.user {
  display: grid;
  grid-area: user;
  margin-left: 88px;
  max-height: 185px;
  @media screen and (max-width: 768px) {
    grid-template-areas:
      'photo name'
      'photo phone'
      '. icons';
    margin: 12px 0 0 9px;
    height: 107px;
  }
}

.buttons {
  display: grid;
  grid-template-areas:
    'approve close'
    '. edit';
  grid-area: button;
  max-height: 93px;
  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-left: auto;
    grid-gap: 0;
    max-height: 90px;
  }
}

.approvebutton {
  grid-area: approve;
  margin-right: 19px;
}

.closebutton {
  grid-area: close;
}
.editbutton {
  grid-area: edit;
  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-left: auto;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px auto 3px auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
    grid-area: photo;
    margin-right: 5px;
  }
}
.text {
  display: inline-block;
  align-items: center;
  height: 23px;
  color: map.get($text_color, common);
  margin: 0 auto 2px auto;
  padding: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 181px;
  @extend .text-medium;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    grid-area: name;
    padding-top: 10px;
    max-width: 245px;
  }
}
.teltext {
  display: flex;
  align-items: center;
  height: 16px;
  color: map.get($text_color, primary);
  margin: 0 auto 12px auto;
  padding: 0;
  @extend .text-medium;
  @media screen and (max-width: 768px) {
    grid-area: phone;
    margin: 0;
  }
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 70px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    grid-area: icons;
    margin: 14px 0 0 0;
  }
}
.contentheader {
  display: inline-block;
  color: map.get($text_color, primaryAdditional);
  margin-top: 0;
  max-width: 400px;
  @extend .text-big;
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
}
.box {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  align-items: center;
  color: map.get($text_color, commonAdditional);
  white-space: normal;
  width: 95%;
  max-height: 60px;
  margin: 10px 0 0 0;
  overflow: hidden;
  @extend .text-medium;
  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 333px;
    line-height: 19px;
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    line-height: 29px;
    -webkit-line-clamp: 4;
    max-height: 116px;
    width: 80%;
    margin: 0;
  }
}

.contenttextshow {
  display: block;
  align-items: center;
  width: 95%;
  color: map.get($text_color, commonAdditional);
  margin-top: 10px;
  @extend .text-medium;
  overflow: visible;
  @media screen and (max-width: 768px) {
    margin-top: 0;
    width: 80%;
    line-height: 29px;
  }
}
.contenthide {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: map.get($text_color, primary);
  width: 64px;
  height: 15px;
  margin-right: 10px;
  margin-left: auto;
  @extend .text-medium;
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    margin-right: 70px;
    margin-top: 5px;
  }
}
.contenthidehidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.requestcount {
  display: grid;
  grid-template-columns: 43px 8px;
  grid-gap: 5px;
  flex-direction: row;
  color: map.get($text_color, primary);
  height: 42px;
  margin-top: 27px;
  margin-left: 4px;
  @extend .text-small;
  svg {
    width: 51px;
    height: 41px;
  }
  @media screen and (max-width: 768px) {
    margin-right: 5px;
    margin-left: auto;
    margin-top: 1px;
  }
}
.requestcountapproved {
  @extend .requestcount;
  @extend .text-small;
  grid-gap: 0;
  margin-top: 17px;
  svg {
    width: 42px;
    height: 32px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 1px;
    svg {
      padding-top: 4px;
    }
  }
}
.date {
  display: flex;
  flex-direction: row;
  max-height: 36px;
  align-items: center;
  margin-left: 2px;
  @media screen and (max-width: 768px) {
    grid-area: date;
  }
}
.dateicon {
  width: 17px;
  height: 17px;
  margin: 0 6px 0px 0;
}
.datetext {
  display: flex;
  align-items: center;
  width: 131px;
  height: 36px;
  text-align: center;
  color: map.get($text_color, primary);
  margin: 0;
  @extend .text-big;
  @media screen and (max-width: 768px) {
    width: 91px;
    height: 29px;
    font-family: 'GolosText';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}
.time {
  display: flex;
  flex-direction: row;
  max-height: 29px;
  align-items: center;
  margin: 5px 5px 5px 2px;
  @media screen and (max-width: 768px) {
    grid-area: time;
  }
}
.timeicon {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.timetext {
  display: flex;
  align-items: center;
  width: 63px;
  height: 29px;
  text-align: center;
  color: map.get($text_color, primary);
  margin: 0;
  @extend .text-big;
  @media screen and (max-width: 768px) {
    width: 47px;
    height: 29px;
    font-family: 'GolosText';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}
.address {
  display: flex;
  flex-direction: row;
  max-height: 38px;
  align-items: center;
  @media screen and (max-width: 768px) {
    grid-area: address;
  }
}
.addressicon {
  width: 26px;
  height: 26px;
  padding-top: 10px;
  @media screen and (max-width: 768px) {
    width: 26px;
    height: 26px;
    padding-top: 5px;
  }
}
.addresstext {
  display: flex;
  align-items: center;
  width: 131px;
  height: 38px;
  color: map.get($text_color, primary);
  padding-top: 10px;
  margin: 0;
  @extend .text-medium;
  @media screen and (max-width: 768px) {
    font-family: 'GolosText';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 166px;
    padding-top: 2px;
  }
}
.scores {
  margin: 10px 0 0 3px;
  @media screen and (max-width: 768px) {
    margin-top: 12px;
  }
}

.scoresapproved {
  margin: 10px 0 0 0;
  @media screen and (max-width: 768px) {
    margin-top: 12px;
  }
}
