.request {
  width: 100%;
  height: 219px;
  padding: 0 0 27px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media (max-width: 960px) {
  .request {
    width: 365px;
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 83px;
  height: 84.04px;
  margin-left: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.icon {
  width: 32px;
  height: 32.12px;
  margin-bottom: 19.8px;
}
@media (max-width: 960px) {
  .icon {
    display: none;
  }
}

.iconclose {
  width: 32px;
  height: 32.12px;
  margin-bottom: 19.8px;
}
@media (max-width: 960px) {
  .iconclose {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.volunteer {
  display: flex;
  flex-direction: column;
}

.volunteerinfo {
  display: flex;
  flex-direction: column;
}
@media (max-width: 960px) {
  .volunteerinfo {
    width: 310px;
    height: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-left: 0;
  }
}

.infotext {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
@media (max-width: 960px) {
  .infotext {
    flex-direction: column;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 7.12px auto 2px auto;
}
@media (max-width: 960px) {
  .avatar {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-top: 100px;
  }
}

.text {
  height: 23px;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0 auto 4px auto;
  padding: 0;
}
@media (max-width: 960px) {
  .text {
    height: 29px;
    margin: 0;
  }
}

.teltext {
  height: 16px;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #2e3192;
  margin: 0 auto 8px auto;
  padding: 0;
}
@media (max-width: 960px) {
  .teltext {
    margin: 0 0 10px 0;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 72px;
  margin: 0 auto;
  left: 8px;
}

.callicon {
  width: 32px;
  height: 32px;
  padding: 7px 7px;
  border-radius: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.messageicon {
  width: 32px;
  height: 32px;
  padding: 7px 7px;
  border-radius: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.content {
  width: calc(100% - 169px - 333px);
  margin-left: 169px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 960px) {
  .content {
    width: 365px;
    margin-left: 34.5px;
  }
}

.contentheader {
  width: 165px;
  height: 17px;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #9798c9;
  margin: 42px 0 10px 0;
}

.contenttext {
  width: 76.4%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #2c2d2e;
  white-space: normal;
}
@media (max-width: 960px) {
  .contenttext {
    width: 297px;
  }
}

.contenttextshow {
  width: 76.4%;
  display: block;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #2c2d2e;
}

.contenthide {
  display: flex;
  background-color: transparent;
  border: none;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #2e3192;
  width: 64px;
  height: 15px;
  z-index: 100;
  position: relative;
  left: 75.4%;
  bottom: 16px;
}
.contenthide:hover {
  cursor: pointer;
}

.requestcount {
  display: flex;
  flex-direction: row;
  width: 56px;
  height: 32px;
  align-items: center;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #2e3192;
  margin-top: 28px;
}
@media (max-width: 960px) {
  .requestcount {
    margin-right: 24.5px;
    margin-left: auto;
  }
}

.requesticon {
  width: 43px;
  height: 32px;
  margin: 0;
}

.category {
  display: flex;
  flex-direction: column;
  width: 169px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 960px) {
  .category {
    flex-direction: row;
    flex-wrap: wrap;
    width: 222px;
    justify-content: flex-start;
    margin-left: 39.85px;
  }
}

.categorylogo {
  width: 169px;
  height: 25px;
  margin: 0 0 10px 0;
  padding: 0;
  background-image: url("../../../images/back.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 960px) {
  .categorylogo {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.logotext {
  font-family: "GolosText";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 5px 94px 5px 15px;
}
@media (max-width: 960px) {
  .logotext {
    padding: 5px 94px 5px 15px;
  }
}

.date {
  display: flex;
  flex-direction: row;
  max-height: 36px;
  align-items: center;
}

.dateicon {
  width: 17px;
  height: 17px;
  margin: 0 5px 0px 0;
}

.datetext {
  width: 131px;
  height: 36px;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2e3192;
  margin: 0;
}
@media (max-width: 960px) {
  .datetext {
    width: 91px;
    height: 29px;
    font-family: "GolosText";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2e3192;
  }
}

.time {
  display: flex;
  flex-direction: row;
  max-height: 29px;
  align-items: center;
  margin: 0 5px 5px 0;
}

.timeicon {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.timetext {
  width: 63px;
  height: 29px;
  margin: 0;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2e3192;
}
@media (max-width: 960px) {
  .timetext {
    width: 47px;
    height: 29px;
    font-family: "GolosText";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2e3192;
  }
}

.address {
  display: flex;
  flex-direction: row;
  max-height: 38px;
  align-items: center;
}

.addressicon {
  width: 27px;
  height: 27px;
  margin: 0 0px 5px -5px;
}

.addresstext {
  width: 131px;
  height: 38px;
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #2e3192;
}
@media (max-width: 960px) {
  .addresstext {
    width: 166px;
    font-family: "GolosText";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    color: #2e3192;
    margin-top: 5px;
  }
}/*# sourceMappingURL=request.css.map */