@use 'sass:map';
@import 'src/common/variable';

.container {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.item {
  min-width: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  display: block;
  box-sizing: border-box;
  padding: 2px 7px 8px;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.2s linear;

  &:hover {
    cursor: pointer;
    border-bottom: 4px solid map.get($background_color, partsSecondary);
  }
}

.underlined,
.underlined:hover {
  border-bottom: 4px solid map.get($background_color, partsPrimary);
}
