@use 'sass:map';
@import './src/scss/mixins/text';
@import 'src/common/variable';

.header {
  width: 100%;
  height: 88px;
  border-bottom: 1px solid #e0e0e0;

  @media screen and (max-width: 1023px) {
    height: 60px;
    border: none;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 93px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: 1200px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media screen and (max-width: 1080px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media screen and (max-width: 1023px) {
    padding-right: 30px;
    padding-left: 30px;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid;
    border-image-slice: 1;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image-source: map.get($background_color, horizontalGradient);
  }
}

.logo {
  box-sizing: border-box;
  padding: 0 60px 5px 0;

  @media screen and (max-width: 1023px) {
    flex-basis: 50%;
    text-align: center;
    padding: 2px 0 0;
  }
}

.mobileHide {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.avatar {
  display: none;

  @media screen and (max-width: 1023px) {
    display: block;
    margin-right: auto;
  }
}
