@import '../scss/mixins/text';

// селекторы текстов
.text-big {
  @include text(24px, 400, 29px);
}

.text-medium {
  @include text(16px, 400, 19px);
}

.text-medium-bold {
  @extend .text-medium;
  font-weight: 700;
}

.text-small {
  @include text(12px, 400, 14px);
}

.text-small-bold {
  @extend .text-small;
  font-weight: 700;
}

.text-error-message {
  @include text(13px, 400, 16px);
}

.page-container {
  display: flex;
  gap: 20px;
  position: relative;

  @media screen and (max-width: 720px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.page-content {
  flex-grow: 1;

  @media screen and (max-width: 720px) {
    width: 100%;
    max-width: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 34px;
  box-sizing: border-box;
  padding: 0 30px 30px 30px;

  @media screen and (max-width: 720px) {
    padding: 0 0 30px;
    row-gap: 14px;
  }
}

.catalog-column {
  @media screen and (max-width: 720px) {
    flex-direction: column;
    align-items: center;
  }
}
